<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>
    Welcome to {{ title }}
  </h1>  
  <h2>choos the csv file </h2>
  <input type="file" class="custom-file-input" aria-describedby="fileHelp" style="display: -webkit-inline-box;" accept=".xlsx,.xls,.csv" (change)="uploadDatasource($event)" placeholder="Upload file"/>

  <button type="button" class="btn btn-primary" (click)="toggle()" id="bt">
    {{buttonName}}
  </button>

  <ng-container *ngIf="show">
    <table class="table" *ngIf="show">
    <thead>
      <tr>
        <th scope="col">address</th>
        <th scope="col">area_rented</th>
        <th scope="col">city</th>
        <th scope="col">number_of_units</th>
        <th scope="col">restricted_area</th>
        <th scope="col">total_area</th>
        <th scope="col">total_rent</th>
        <th scope="col">vacancy</th>
        <th scope="col">walt</th>
        <th scope="col">year_of_construction</th>
        <th scope="col">zipcode</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let asset of assets">
        <td>{{asset.address}}</td>
        <td>{{asset.area_rented}}</td>
        <td>{{asset.city}}</td>
        <td>{{asset.number_of_units}}</td>
        <td>{{asset.restricted_area}}</td>
        <td>{{asset.total_area}}</td>
        <td>{{asset.total_rent}}</td>
        <td>{{asset.vacancy}}</td>
        <td>{{asset.walt}}</td>
        <td>{{asset.year_of_construction}}</td>
        <td>{{asset.zipcode}}</td>
      </tr>
    </tbody>
  </table>
  </ng-container>
</div>

<router-outlet></router-outlet>
